################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RobotApolloSln/packages
/RobotApolloSln/RobotApollo.SpiderMachine.App/bin/Debug
/RobotApolloSln/RobotApollo.SpiderMachine.App/obj/Debug
/RobotApolloSln/RobotApollo.WeChat.WebApp/bin
/RobotApolloSln/RobotApollo.WeChat.WebApp/obj/Debug
/RobotApolloSln/RobotApollo.Common/bin
/RobotApolloSln/RobotApollo.Common/obj
/RobotApolloSln/RobotApollo.WeChat.WebApp/obj/Release
/RobotApolloSln/RobotApollo.DataAccess/obj
/RobotApolloSln/RobotApollo.DataAccess/bin

Release
Debug
Debug
